@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
}

#aboutus{
    background-color: #0B1A26;
}

.image-earth {
    width: 100%;
    height: 100vh;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/The_Earth_in_4k.webm/3840px--The_Earth_in_4k.webm.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.textearth{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}


#aboutustext{
    background-color: #0B1A26;
}

table{
    width: 100%;
    border-collapse: separate; 
    border-spacing: 5em;
}

table td img{
    height: auto;
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.simplecentered{
    text-align: center;
    padding: 10px;
}

#aboutustext{
    color: white;
    font-family: 'Inter', sans-serif;
    font-size: large;
}

.aboutusleft{
    color: white;
    text-align: left;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    
}

.aboutusright{
    color: white;
    text-align: right;
    margin-left: 130;
    margin-right: 130px;
}

