@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#admin {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #ffffff;
}

.admin-container {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 20px;
    margin-left: 7%;
    width: 97%;
}

.admin-container .container-admin {
    width: 87%;
    margin: auto;
    overflow: hidden;
}

.admin-container section {
    margin: 20px 0;
}

.admin-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
}

.admin-container h2{
    color: white;
}

.admin-container table, .admin-container th, .admin-container td {
    border: 1px solid #ddd;
}

.admin-container th, .admin-container td {
    padding: 12px;
    text-align: left;
}

.admin-container th {
    background-color: #0B1A26;
    color: white;
}

.admin-container .action-buttons {
    display: flex;
    gap: 10px;
}

.admin-container .action-buttons button {
    padding: 5px 10px;  
    font-size: 14px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.vip-button{
    background-color: #f7931a;
}
.vip-button:hover{
    background-color: #ffd000;
}
.ban-button{
    background-color: #e20e0e;
}
.ban-button:hover{
    background-color: #9c0707;
}
.manage-button{
    background-color: #133159;
}
.manage-button:hover{
    background-color: #307ce0;
}

.admin-container .filters {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
    width: 100%;
}

.admin-container .filters input, .admin-container .filters select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex-grow: 1;
}

.admin-container .pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.admin-container .pagination button {
    padding: 10px 15px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.admin-container .pagination button:hover {
    background-color: #0B1A26;
    color: white;
}


/*-----------------------------------*/

.sidebar {
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 60px;
    left: 0;
    height: calc(100% - 60px); /* Adjusts the height to account for the navigation bar */
    width: 13%;
    background-color: #0B1A26;
    border-right: 0.5vh solid black;
    padding-top: 20px;
    color: white;    
}

.sidebar ul {
    list-style: none;
    align-items: baseline;
    flex-grow: 1;
}

.sidebar ul li {
    margin-bottom: 2vh; 
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5vh 1vh;
    font-size: 3vh;
}


/*-----------------------------------*/

.dashboard {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 11vh;
    margin-left: 13.25%;
    font-family: 'Inter', sans-serif;
}

.bento-box {
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex: 1;
    min-width: calc(25% - 20px);
    box-sizing: border-box;
    margin-bottom: 5px;
}

.bento-box h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: #333;
}

.bento-box p {
    font-size: 1em;
    color: #666;
}

.revenue, .sales {
    text-align: center;
    margin-top: 20px;
}

.revenue h3, .sales h3 {
    font-size: 2em;
    color: #007BFF;
}
