@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}
#admin {
    margin: 0;
    padding: 0;
    height: auto;
} 

/*------------ADMIN CONTAINER-----------------------*/

.admin-container {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 1.25rem;
    margin-left: 7%;
    width: 91%; 
    color: var(--black);
}

.admin-container .container-admin {
    width: 87%;
    margin: auto;
    overflow: hidden;
}

.admin-container section {
    margin: 1.25rem 0;
}

.admin-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;
    background-color: var(--white);
}

.admin-container th:nth-child(2) { 
    width: 0.3125rem;
    min-width: 0.3125rem;
    max-width: 0.3125rem;
}

.admin-container .profile-thumbnail {
    width: 2.1875rem;
    height: 2.1875rem;
    object-fit: cover;
    border-radius: 50%;
}

.admin-container th:nth-child(5) { 
    width: 1.875rem;
    min-width: 1.875rem;
    max-width: 1.875rem;
}

.admin-container td:nth-child(6) {
    width: 6.25rem;  
    min-width: 6.25rem;
    max-width: 6.25rem;
}

.admin-container td:nth-child(6) span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.admin-container h2{
    color: white;
}

.admin-container table, .admin-container th, .admin-container td {
    border: 0.0625rem solid #ddd;
}

.admin-container th, .admin-container td {
    padding: 0.75rem;
    text-align: left;
}

.admin-container th {
    background-color: var(--blue);
    color: white;
} 

.admin-container .filters {
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
    margin-bottom: 1.25rem;
    width: 100%;
}

.admin-container .filters input, .admin-container .filters select {
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    background-color: var(--white);
    color: var(--black);
    border-radius: 0.25rem;
    flex-grow: 1;
}

.admin-container .filters button {
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.9375rem;
    transition: background-color 0.3s;
    background-color: #4CAF50;
}

/*-----------------------------------*/
/*------------DESTINATION CONTAINER---------------------*/

.destination-container {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 1.25rem;
    margin-left: 7%;
    width: 91%;
    background-color: var(--white);
}

.destination-container .container-destination {
    width: 87%;
    margin: auto;
    overflow: hidden;
}

.destination-container section {
    margin: 1.25rem 0;
}

.destination-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;
    background-color: var(--white);
    color: var(--black);
}

.destination-container th:nth-child(2) { 
    width: 0.3125rem;
    min-width: 0.3125rem;
    max-width: 0.3125rem;
} 

.destination-container .profile-thumbnail {
    width: 2.1875rem;
    height: 2.1875rem;
    object-fit: cover;
    border-radius: 50%;
}

.destination-container td:nth-child(6) span {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.destination-container h2{
    color: white;
}

.destination-container table, .destination-container th, .destination-container td {
    border: 0.0625rem solid #ddd;
}

.destination-container th, .destination-container td {
    padding: 0.75rem;
    text-align: left;
}

.destination-container th {
    background-color: var(--blue);
    color: white;
}


/*-----------------------------------*/ 

/*------------RESERVATION CONTAINER---------------------*/

.reservation-container {
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 1.25rem;
    margin-left: 7%;
    width: 91%;
    
}

.reservation-container .container-reservation {
    width: 87%;
    margin: auto;
    overflow: hidden;
}

.reservation-container section {
    margin: 1.25rem 0;
}

.reservation-container table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1.25rem;
    background-color: var(--white);
    color: var(--black);
}

.reservation-container th:nth-child(3) { 
    width: 0.3125rem;
    min-width: 0.3125rem;
    max-width: 0.3125rem;
}
.reservation-container th:nth-child(4) { 
    width: 0.3125rem;
    min-width: 0.3125rem;
    max-width: 0.3125rem;   
}

.reservation-container th:nth-child(6) { 
    width: 5.5rem;
    min-width: 5.5rem;
    max-width: 5.5rem;   
}

.reservation-container th:nth-child(7) { 
    width: 5rem;
    min-width: 5rem;
    max-width: 5rem;   
}

.reservation-container th:nth-child(8) { 
    width: 4.5rem;
    min-width: 4.5rem;
    max-width: 4.5rem;   
}

.reservation-container th:nth-child(9) { 
    width: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;      
}

.reservation-container th:nth-child(10) { 
    width: 14rem;
    min-width: 14rem;
    max-width: 14rem;
    text-align: center;
}

.reservation-container th:nth-child(11) { 
    width: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;      
}
.reservation-container th:nth-child(12) { 
    width: 2.5rem;
    min-width: 2.5rem;
    max-width: 2.5rem;      
}

.reservation-container td:nth-child(10), td:nth-child(9), td:nth-child(11) {
    text-align: center;
}

.reservation-container .profile-thumbnail {
    width: 2.1875rem;
    height: 2.1875rem;
    object-fit: cover;
    border-radius: 50%;
}

.reservation-container h2{
    color: white;
}

.reservation-container table, .reservation-container th, .reservation-container td {
    border: 0.0625rem solid #ddd;
}

.reservation-container th, .reservation-container td {
    padding: 0.75rem;
    text-align: left;
}

.reservation-container th {
    background-color: var(--blue);
    color: white;
}


/*-----------------------------------*/


.action-buttons button {
    padding: 0.3125rem 0.625rem;
    margin: 0.125rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-size: 0.75rem;
    min-width: 6.25rem; 
    white-space: nowrap; 
}

.action-buttons a {
    text-decoration: none;
}

.vip-button {
    background-color: gold;
    color: black;
    width: 6.25rem; 
}

.ban-button {
    background-color: #ff4444;  
    color: white;
    width: 6.25rem;
}

.manage-button {
    background-color: #4CAF50;
    color: white;
    width: 6.25rem; 
}

.admin-button {
    background-color: #5e9ae9;
    color: white;
    width: 6.25rem; 
}

.action-buttons button:hover {
    opacity: 0.8;
}

/*-----------------------------------*/

.sidebar {
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 4.5rem;
    left: 0;
    height: 100vh;
    width: 13%;
    background-color: var(--blue);
    border-right: 0.5rem solid black;
    padding-top: 2rem;
    color: var(--white);    
    z-index: 100;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    margin-bottom: 1.25rem;
    position: relative;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.3rem 0.6rem; 
    font-size: 1.7rem;
    position: relative;
    display: inline-block;
}

.underline::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0.0625rem;
    background: var(--white);
    transition : .3s;
}

.underline:hover:before{
   width: 100%;
   z-index : 1000;
}

/*-----------------------------------*/

.dashboard {
    background-color: var(--white);
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin-top: 7.5rem;
    margin-left: 13.25%;
    font-family: 'Inter', sans-serif;
}

.bento-box {
    background-color: var(--white);
    border-radius: 0.375rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    padding: 1.25rem;
    flex: 1;
    min-width: calc(25% - 1.25rem);
    box-sizing: border-box;
    margin-bottom: 0.3125rem;
}

.bento-box h2 {
    margin-top: 0;
    font-size: 1.5em;
    color: var(--black);
}

.bento-box p {
    font-size: 1em;
    color: var(--black);
}

.revenue, .sales, .user-growth, .active-users {
    text-align: center;
    margin-top: 1.25rem;
}

.revenue h3, .sales h3, .user-growth h3, .active-users h3 {
    font-size: 2em;
    color: #4b61f5;
    font-weight: bold;
}

/*-----------------------------------*/

.edit-user-panel {
    background-color: var(--white);
    font-family: 'Inter', sans-serif;
    margin: 0;
    margin-top: 7.425rem;
    padding: 1.25rem;
    margin-left: 7%;
    width: 97%;
}

.user-form-container {
    width: 87%;
    margin: auto;
    overflow: hidden;
}

.edit-form {
    width: 100%;
    margin: 1.25rem 0;
    padding: 0;
    background-color: transparent;
}

.form-group {
    margin-bottom: 0.5rem; 
    padding: 0.5rem;        
    border: 0.0625rem solid #ddd;
    background-color: var(--white);
    box-sizing: border-box;
    border-radius: 0.25rem;
    width: 100%;
}

.form-group input,
.form-group select {
    width: calc(100% - 0.75rem);
    padding: 0.375rem;   
    border: 0.0625rem solid #ddd;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}

.form-group label { 
    display: block;
    margin-bottom: 0.25rem;
    font-weight: bold;
    color: var(--black);
    font-size: 0.875rem;
}

.form-actions {
    display: flex;
    gap: 0.625rem;
    justify-content: center;
    margin-top: 0.75rem;    
    padding: 0.5rem;        
    background-color: var(--white);
}

select#role {
    color: black;
    font-weight: bolder;
}

select:hover {
    background-color: #f5f5f5; 
    cursor: pointer;
}

select#status-filter option {
    font-weight: bolder;
}

select#status-filter option[value="Banned"] {
    color: #ff4444;
}

select#status-filter option[value="Standard"] {
    color: #4CAF50;
}

select#status-filter option[value="VIP"] {
    color: gold;
}

select#status-filter option[value="Stellar Elite"] {
    color: #7851A9;
}

select#status-filter option[value="Admin"] {
    color: #5e9ae9;
}

select#role option {
    font-weight: bolder;
}

select#role option[value="Banned"] {
    color: #ff4444;
}

select#role option[value="Standard"] {
    color: #4CAF50;
}

select#role option[value="VIP"] {
    color: gold;
}

select#role option[value="Stellar Elite"] {
    color: #7851A9;
}

select#role option[value="Admin"] {
    color: #5e9ae9;
}

.save-button, .cancel-button, .delete-button {
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.9375rem;
    transition: background-color 0.3s;
}

.save-button {
    background-color: #4CAF50;
    color: white;
}

.cancel-button {
    background-color: #ff4444;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.delete-button {
    background-color: #000000;
    color: white;
    width: auto;
}

.save-button:hover,
.cancel-button:hover, .delete-button:hover {
    opacity: 0.8;
}
