
@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#Book{
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */

}

/*###################################*/
/*###################################*/
/*###################################*/
.booking{
    position: relative;
    margin: auto; 
    width: 160vh;
    height: 45vh;
    background-color: white;
    border-top-left-radius: 2.5vh;
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;
    margin-bottom: 5vh;
}

.booking:hover{
    box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.678);
}

.middle {
    background-color: #000000;
    padding: 2vh;
    position: relative;
    justify-content: center; 
    align-items: center; 
}


.booking img{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* L'image prend toute la largeur du conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    object-fit: cover;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}
.name{
    position: absolute; 
    top: 1.5vh;
    left: 68vh;
    font-size: 3vh;
    font-weight: bolder;
}
.galaxy{
    position: absolute; 
    top: 9vh;
    left: 70vh;
    font-size: 2vh;
}
.info{
    position: absolute; 
    top: 13vh;
    left: 72vh;
    font-size: 2vh;
}
.division{
    position: absolute; 
    top: 19vh;
    left: 68vh;
    font-size: 2vh;
    letter-spacing: -1px;
}

.description {
    position: absolute;
    font-size: 2vh;
    top: 23vh;
    left: 69vh;
    width: 88vh;
    height: 22vh;
    line-height: 1.5;
}
.prix{
    position: absolute; 
    top: 8vh;
    left: 140vh;
    font-size: 4vh;
    font-weight: bolder;
}



/*###################################*/
/*###################################*/
/*###################################*/
#Book .rsearch {
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url('https://wallpaper.forfun.com/fetch/c7/c792185c2222f9c7909ec2514ef9d6d1.jpeg');
    width: 100%;
    height: 100vh; /* Prend toute la hauteur de la fenêtre */
    background-size: cover; /* Couvre tout l'élément sans déformation */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    overflow: hidden;

}
#Book .title{
    position: absolute;
    white-space: nowrap;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 385%;
    color: white;
    font-size: auto;
    text-shadow: 2px 6px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
}

#Book .start {
    width: 11%; /*Changer la taille du module*/
    position: absolute;
    top: 40%;
    left: 20%;
}
#Book .end {
    width: 11%; /*Changer la taille du module*/
    position: absolute;
    top: 40%;
    left: 32%;
}
#Book .when {
    width: 11%; /*Changer la taille du module*/
    position: absolute;
    top: 40%;
    left: 45%;
}

#Book .number {
    width: 11%; /*Changer la taille du module*/
    position: absolute;
    top: 40%;
    left: 57%;
}
#Book .date{
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
}
#Book .valid{
    position: absolute; 
    padding: 12px 60px;
    border-radius: 5px;
    background: white;
    color: #0f1A26;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    top: 40%; /* Centre verticalement */
    left: 70%; /* Centre horizontalement */ 
}
#book a{
    text-decoration: none;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}
#Book .valid:hover {
    background: #98FB98;
}
#Book details { /*La boxe*/
    border-radius: 5px;
    background-color: #ffffff;
    color: #0f1A26;
    cursor: pointer;
}

#Book summary { /*Le texte dedans*/
    padding: 10px;
    outline: none;
}

#Book .dropdown-content{ /*Le carré*/
    background-color: #0f1A26;
    padding: 10px;
    max-height: 150px;
    overflow-y: auto;
}

#Book .dropdown-content label { /*Le texte*/
    color: rgb(255, 255, 255);
    display: block;
    padding: 5px 0;
}
/**/


