@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#Book{
    font-family: 'Inter', sans-serif;
    color: var(--black);
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */
    background-color: black;
}

/*###################################*/
/*###################################*/
/*###################################*/
.booking{
    position: relative;
    margin: auto; 
    width: 160vh;
    height: 45vh;
    background-color: var(--white);
    border-top-left-radius: 2.5vh;
    border-bottom-left-radius: 2.5vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;
    margin-bottom: 5vh;
    left: 5rem;
}

.booking:hover{
    box-shadow: 0px 0px 9px rgba(255, 255, 255, 0.678);
}


.middle {
    background-color: black;
    padding: 2vh;
    position: relative;
    justify-content: center; 
    align-items: center; 

}


.booking img{
    position: absolute;
    top: 0;
    left: 0;
    width: 40%; /* L'image prend toute la largeur du conteneur */
    height: 100%; /* L'image prend toute la hauteur du conteneur */
    object-fit: cover;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
}
.name{
    position: absolute; 
    top: 1.5vh;
    left: 68vh;
    font-size: 3vh;
    font-weight: bolder;
}
.galaxy{
    position: absolute; 
    top: 9vh;
    left: 70vh;
    font-size: 2vh;
}
.info{
    position: absolute; 
    top: 13vh;
    left: 72vh;
    font-size: 2vh;
}
.division{
    position: absolute; 
    top: 19vh;
    left: 68vh;
    font-size: 2vh;
    letter-spacing: -1px;
}

.description {
    position: absolute;
    font-size: 2vh;
    top: 23vh;
    left: 69vh;
    width: 88vh;
    height: 22vh;
    line-height: 1.5;
}
.prix{
    position: absolute; 
    top: 8vh;
    left: 140vh;
    font-size: 4vh;
    font-weight: bolder;
}



/*###################################*/
/*###################################*/
/*###################################*/
#Book .rsearch {
    position: relative;
    justify-content: center;
    align-items: center;
    background-color: var(--white); /* Use white background */
    width: 100%;
    height: 40vh; /* Full height of the viewport */
    overflow: hidden;
    border-radius: 10px; /* Optional: Add rounded corners for a cleaner look */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
}

#Book .start {
    width: 13rem; /*Changer la taille du module*/
    position: absolute;
    top: 7.8rem;
    left: 20rem;
}
#Book .end {
    width: 15rem; /*Changer la taille du module*/
    position: absolute;
    top: 7.8rem;
    left: 35rem;
}
#Book .when {
    width: 12rem; /*Changer la taille du module*/
    position: absolute;
    top: 7.8rem;
    left: 52rem;
}

#Book .number {
    width: 12rem; /*Changer la taille du module*/
    position: absolute;
    top: 7.8rem;
    left: 66rem;
}

#Book .valid{ /* Valid = RESET button */
    position: absolute; 
    padding: 12px 60px;
    border-radius: 5px;
    background: #ff4444 ;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    top: 15rem;
    left: 80rem; /* Centre horizontalement */ 
    transition: 0.7s;
}


#Book a {
    text-decoration: none;
    color: var(--black);
    display: inline-block; /* Problem : asymetry */
}


#Book .valid:hover {
  font-size: 15px;
  transition: 0.7s;

}
#Book details { /*La boxe*/
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
    box-shadow: 0px 2px 2px var(--black);
    cursor: pointer;
}

#Book summary { /*Le texte dedans*/
    padding: 10px;
    outline: none;
    font-weight: bold;
    font-size: larger;
}


/**/

#Book .dropdown-content, 
#Book .dropdown-content2, 
#Book .dropdown-content3 {
    padding: 10px;
    max-height: 240px;
    overflow-y: auto; 
    background-color: var(--lighter-gray); 
    margin-top: -1rem;
}

#Book .dropdown-content label, 
#Book .dropdown-content2 label, 
#Book .dropdown-content3 label {
    color: var(--black);
    display: block;
    padding: 5px 0;
}



