
@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: black;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;

}

#Book{
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */

}

/*###################################*/
/*###################################*/
/*###################################*/

#Book .rsearch {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh; /* Prend toute la hauteur de la fenêtre */
    background-size:cover; /* Couvre tout l'élément sans déformation */
    background-position:center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    overflow: hidden;

}
#Book .title{
    position: absolute;
    white-space: nowrap;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 385%;
    color: white;
    font-size: auto;
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    margin: 0;
    letter-spacing: 4vh;
}
/********************/
/********************/
/********************/
.presentation{
    position: relative;
    top: -5vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: #ffffff;
    height: 40vh;
}
.presentationtitle{
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    position: absolute;
    color: #0B1A26;
    font-size: 4vh;
    left: 5vh;
    font-weight: bolder;
}
.presentationdescription{
    position: absolute;
    font-size: 2vh;
    top: 9vh;
    text-align: left;
    line-height: 3vh;
    letter-spacing: 0.1vh;
    padding-left: 4vh;
}
/********************/
/********************/
/********************/
.program{
    position: relative;
    display: flex;
    top: -5vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #0B1A26;
    height:65vh;
}
.programtitle{
    text-shadow: 0px 0px 2px rgb(0, 0, 0);
    position: absolute;
    color: white;
    font-size: 4vh;
    left: 5vh;
    font-weight: bolder;
}
.day{
    position: relative;
    left: 10vh;
    top: 13vh;
    width: 40vh;
    height: 45vh;
    margin-right: 5vh;
    background-color: white;
    border-top-left-radius: 2vh;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    border-top-right-radius: 2vh;
    margin-bottom: 5vh;
}
.daytitle{
    text-align: center;
    font-size: 4vh;
}
.daydescription{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}
.daydescription2{
    margin-left: 2vh;
}
/********************/
/********************/
/********************/
.reserve{
    position: relative;
    top: -7vh;
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    background-color: #ffffff;
    height: 40vh;
}
.reservetitle{
    text-shadow: 0px 0px 2px rgb(255, 255, 255);
    position: absolute;
    color: #0B1A26;
    font-size: 4vh;
    left: 5vh;
    font-weight: bolder;
}
.reservedescription{
    position: absolute;
    font-size: 2vh;
    top: 9vh;
    text-align: left;
    line-height: 3vh;
    letter-spacing: 0.1vh;
}
