
@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#Book{
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */

}

/*###################################*/
/*###################################*/
/*###################################*/

#Book .rsearch {
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 42.5rem; /* Prend toute la hauteur de la fenêtre */
    background-size:cover; /* Couvre tout l'élément sans déformation */
    background-position:center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
    overflow: hidden;

}
#Book .title{
    position: absolute;
    white-space: nowrap;
    top: 25%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 385%;
    color: white;
    font-size: auto;
    text-shadow: 0px 0px 0.1rem rgb(0, 0, 0);
    margin: 0;
    letter-spacing: 2.4rem;
}
/********************/
/********************/
/********************/
.presentation{
    position: relative;
    top: -3rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: #ffffff;
    height: 24.2rem;
}
.presentationtitle{
    text-shadow: 0px 0px 0.1rem rgb(255, 255, 255);
    position: absolute;
    color: #0B1A26;
    font-size: 2.5rem;
    left: 3rem;
    font-weight: bolder;
}
.presentationdescription{
    position: absolute;
    font-size: 1.2rem;
    top: 5.5rem;
    text-align: left;
    line-height: 1.8rem;
    letter-spacing: 0.06rem;
    padding-left: 2.4rem;
}
/********************/
/********************/
/********************/
.program{
    position: relative;
    display: flex;
    top: -3rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    background-color: #0B1A26;
    height:40rem;
}
.programtitle{
    text-shadow: 0px 0px 0.1rem rgb(0, 0, 0);
    position: absolute;
    color: white;
    font-size: 2.4rem;
    left: 3rem;
    font-weight: bolder;
}
.day{
    position: relative;
    left: 6rem;
    top: 7.8rem;
    width: 24.2rem;
    height: 27.3rem;
    margin-right: 3rem;
    background-color: white;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    margin-bottom: 3rem;
}
.daytitle{
    text-align: center;
    font-size: 2.4rem;
}
.daydescription{
    text-align: center;
    font-weight: bolder;
    text-decoration: underline;
}
.daydescription2{
    margin-left: 1.2rem;
}
/********************/
/********************/
/********************/
.reserve{
    position: relative;
    top: -4.2rem;
    border-top-left-radius: 1.2rem;
    border-top-right-radius: 1.2rem;
    background-color: #ffffff;
    height: 24.2rem;
}
.reservetitle{
    text-shadow: 0px 0px 0.1rem rgb(255, 255, 255);
    position: absolute;
    color: #0B1A26;
    font-size: 2.4rem;
    left: 3rem;
    font-weight: bolder;
}
.titlerese{
    position: relative;
    font-size: 1.5rem;
    top: 8rem;
    left: 6rem;
}
.group{
    position: relative;
    font-size: 1.1rem;
    width: 20rem;
    top: 8.5rem;
    left: 7rem;
    margin-bottom: 3rem;
}
.titlerese2{
    position: relative;
    font-size: 1.5rem;
    top: -10.5rem;
    left: 30rem;
}
.selectgroup2{
    position: relative;
    font-size: 1.1rem;
    top: -12rem;
    width: 1rem;
    left: 50rem;
}
.group2{
    position: relative;
    font-size: 1.1rem;
    top: -11rem;
    left: 31rem;
    margin-bottom: 1.4rem;
}
.titlerese4{
    position: absolute;
    font-size: 1.5rem;
    top: 14rem;
    left: 30rem;
}
.group4{
    position: relative;
    font-size: 1.1rem;
    top: -5rem;
    left: 31rem;
    margin-bottom: 1.4rem;
}
.titlerese5{
    position: absolute;
    font-size: 1.5rem;
    top: 20rem;
    left: 30rem;
}
.group5{
    position: relative;
    font-size: 1.1rem;
    top: -2rem;
    left: 31rem;
    margin-bottom: 1.4rem;
}
.titlerese3{
    position: absolute;
    font-size: 1.5rem;
    top: 8rem;
    left: 56rem;
}
.group3{
    overflow: scroll;
    overflow-x: hidden;
    height: 13rem;
    width: 47rem;
    position: absolute;
    font-size: 1.1rem;
    top: 10.5rem;
    left: 58rem;
    margin-bottom: 3rem;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0));
    
}
.group3 label{
    display: inline-block;
    width: 12.5rem;
    margin-right: 2rem;
    
}
.confirm{
    position: absolute;
    font-size: 1rem;
    top: 25rem;
    left: 105rem;
    margin-bottom: 3rem;
    background-color: #0B1A26;
    border: none;
    color: white;
    width: 100px; 
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s;



}


.confirm:hover {
    cursor: pointer; /* Assure que le curseur reste une main au survol */
}
