#menu .bandeau {
  background-color: #0B1A26;
  color: white;
  padding: 15px 0;
  position: sticky;
  position : fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  font-family: "Poppins", "sans-serif";
}


#backgroundmenu::before {
  content: "";
  position: fixed; /* Fixe le fond même au scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://wallpapercat.com/w/full/4/e/9/65859-3840x2160-desktop-4k-space-station-background-image.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index:-1;
}


#menu .bandeau ol {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

#menu .bandeau li {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 22px;
  cursor: pointer;
  color : white;
}


#menu .bandeau a{
  color : white;
  text-decoration : none;

}
#menu .bandeau li:hover {
  text-decoration: underline;
}

.bolder {
  font-weight : bolder;
}

.deroul {
  position: relative;
  display: inline-block;
}

.deroul div {
  display: none;
  position: absolute;
  background-color: #0B1A26;
  min-width: 240px; /* Largeur qu'on peut changer si on veut */
  box-shadow: 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  z-index: 1;
  top: 100%; /* liste sous le bouton Galaxy */
  left: 0;
}

.deroul:hover div {
  display: block;
}



/* Accueil */

.important-word{
  color : darkorange;

}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.hero-content {
  display: inline-block; /* Ajuste la taille au contenu */
  background-color: #0B1A26;
  color: white;
  padding: 20px 40px;
  border-radius: 40px; /* Bord arrondi */
  box-shadow: 4px 10px rgba(0, 0, 0, 0.3); /* Effet d'ombre */
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.btn {
  background-color: orange;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 10px;
}

.btn:hover{
  background-color: orangered;
}
/* Section Services */
.services h2{
  color : white;
  font-weight : bold;
  font-size: 3rem;
}

.services {
  text-align: center;
  padding: 50px 20px;
  font-size : 30px;
}

.service-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}


/* Mise en page des services */
.service-container {
  display: flex;
  justify-content: space-between;
}

/* Bloc gauche : Liste des services */
.service-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-left : 40px;
}

/* Bloc droit : Vidéos / Modèles 3D */
.all-services {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.all-services video:nth-child(1) {
  width: 50%;
  max-width: 500px;
  align-self: flex-start;
  padding-left : 300px;
}


.all-services video:nth-child(2) {
  width: 50%;
  max-width: 500px;
  align-self: flex-start;
  padding-left : 300px;
  padding-bottom : 800px;
}

.all-services video:nth-child(3) {
  width: 50%;
  max-width: 500px;
  align-self: flex-start;
  padding-left : 300px;
}





.service-list,
.all-services {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribue bien les éléments */
}

.card{
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  width: 350px;
  margin-left : 150px;
}



.card i {
  font-size: 40px;
  color: #ff9800;
}

/*spaceship emplacement */

.banner{
  height: 100vh;
  text-align: center;
  overflow: hidden;
  position: relative;

}

.banner .slider{
  position: absolute;
  width: 150px;
  height: 200px;
  left: 50%;
  transform-style: preserve-3d;
  transform : perspective(500px); /* je me met un cercle de 500 px en z de rayon 250px */
  animation : autoRun 35s linear infinite; /* pour faire tourner un manege cest le slider qui sen occupe pas les chaises*/
}

@keyframes autoRun {

  from{
    transform : perspective(500px) rotateY(0deg);
  }to{
     transform : perspective(500px) rotateY(360deg);
   }

}


.banner .slider .item{
  position: absolute;
  inset : 0 0 0 0;
  transform:
    rotateY( calc( (var(--position) - 1)*(360/var(--quantity)) *1deg ) )
    translateZ(250px);
}

.banner .slider .item img{
  width: 70%;
  height: 90%;
  object-fit: contain;

}

/* Pourquoi nous choisir */
.why-choose-us {
  text-align: center;
  padding: 50px 20px;
  color : white;
}

.why-choose-us ul {
  list-style: none;
  padding: 0;
}

.why-choose-us li {
  font-size: 1.2rem;
  margin: 10px 0;
}

.why-choose-us i {
  color: #ff9800;
  margin-right: 10px;
}

/* Pied de page */
footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
}

.social-icons a {
  color: white;
  margin: 0 10px;
  font-size: 1.5rem;
}
