@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#Map{
    font-family: 'Inter', sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*###################################*/
/*###################################*/
/*###################################*/

#Map .rsearch {
    position: relative;
    justify-content: center;
    align-items: center;
    background-image: url('https://diapogram.com/upload/2019/04/18/20190418004741-b4a333f7.jpg');
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

#Map .title{
    position: absolute;
    white-space: nowrap;
    top: 12.5rem;
    left: 25rem;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 2.5rem;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: bolder;
    text-shadow: 0px 0px 0.125rem rgb(0, 0, 0);
    text-align: left;
}

.planet{
    position: absolute;
    width: 6.25rem;
    height: 6.25rem;
    border-radius: 50%;
}

.title p:not(.name){
    visibility: hidden;
}  

.planet:hover p{
    visibility: visible;
    position: absolute;
    top: -4.375rem;
    left: 3.75rem;
    font-size: 1.875rem;
    color: white;
    text-shadow: 0px 0px 0.125rem rgb(0, 0, 0);
}

.planet:hover{
    box-shadow: 0px 0px 0.625rem rgb(109, 108, 108);
}

.atlantis{
    top: 12.5rem;
    left: 9.375rem;
}

.pandora{
    top: 25rem;
    left: 18.75rem;
}

.naboo{
    top: 18.75rem;
    left: 33.75rem;
}

.cybertron{
    top: 29.375rem;
    left: 43.75rem;
}

.scarif{
    top: 10.625rem;
    left: 50rem;
}

.earth{
    top: 23.125rem;
    left: 59.375rem;
}

.mistral{
    top: 40.625rem;
    left: 59.375rem;
}

.kamino{
    top: 6.25rem;
    left: 68.75rem;
}

.grok{
    top: 37.5rem;
    left: 31.25rem;
}

.asuras{
    top: 31.25rem;
    left: 75rem;
}

.openai{
    top: 18.75rem;
    left: 75rem;
}

.mars{
    top: 31.25rem;
    left: 6.25rem;
}

.rsearch img{
    height: 100%;
    width: 100%;
}
