@font-face {
    font-family: 'Inter';
    src: url('../font/Inter.ttc') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Inter', sans-serif;
    background: url("https://preview.redd.it/the-eyes-of-cygnus-starless-v0-huahm3eo7xpe1.jpeg?width=1080&crop=smart&auto=webp&s=e89a3236eb094e09b2e09a40292e925756eda783");
    background-size: cover;
    background-attachment: fixed;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: stretch;
    padding: 2vh;
    margin-top: 10vh;
    box-sizing: border-box;
    height: 100%;
}

.sidebar {
    width: 28.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    gap: 3.125rem;
    font-size: 1.5625rem;
    border-radius: 1.25rem;
    color: white;
    background-color: #0b1a26;
    margin-right: 1.25rem;
    padding: 1rem;
}

.sidebar-head{
    position: relative;
    display: inline-block;
}

.sidebar-head .bx-edit {
    position: absolute;
    margin-top: 2.5rem;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 1.5625rem;
    color:#0b1a26;
    background: white;
    border-radius: 50%;
    padding: 0.3125rem;
    box-shadow: 0.125rem 0.125rem 0.3125rem rgba(0, 0, 0, 0.3);
}

.sidebar-head .bx-edit:hover {
    font-size: 1.4375rem;
    margin-top: 2.5rem;
    color: #0b1a26;
}

.bx-edit {
    color: #0b1a26;
    font-size: 1.875rem;
}

.bx-edit:hover{
    font-size: 1.75rem;
    color: #0b1a26;
}

.profile-pic {
    width: 9.375rem;
    height: 9.375rem;
    display: flex;
    margin-top: 2.5rem;
    border-radius: 50%;
    border: 0.3125rem solid white;
}

.sidebar a {
    color: white;
    text-decoration: none;
    position: relative;  /* Add this */
    display: inline-block;  /* Add this */
    padding: 5px;  /* Add this for better hover area */
}

.sidebar .status:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.underline::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 0.0625rem;
    background: white;
    transition : .3s;
}

.underline:hover:before{
   width: 100%;
   z-index : 1000;
}

.info {
    background-color: white;
    padding: 1.25rem;
    border-radius: 1.25rem;
    width: 37.5rem;
    color: #0b1a26;
    font-size: 1.25rem;
}

.info h2 {
    border-bottom: 0.1875rem solid #0b1a26;
    padding-bottom: 0.625rem;
    margin-top: 0;
    color: #0b1a26;
}

.info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.info li {
    padding: 0.9375rem 0;
    border-bottom: 0.125rem solid #0b1a26;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info li:last-child {
    border-bottom: none;
}

.info input, .info select {
    width: 60%;
    padding: 0.625rem;
    border: 0.0625rem solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    background: transparent;
    outline: none;
    border-radius: 0.75rem;
    font-family: "Inter", sans-serif;
}

.edit-btn, .save-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.625rem 1.25rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 0.9375rem;
    transition: background-color 0.3s, font-size 0.7s, color 0.3s;
}

.edit-btn:hover, .save-btn:hover , .custom-btn:hover {
    background-color: #4CAF50;
    font-size: 0.9375rem;  /* Réduction de la taille de la police */
    transition: background-color 0.3s, font-size 0.7s, color 0.3s;
}

.info form {
    margin-top: 0.625rem;
}

.info span {
    font-weight: bold;
    color: #0b1a26;
}

.info-profile {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem; /* Espace entre les sections */
}

.info .header {
    border-bottom: 0.1875rem solid #0b1a26;
    margin-bottom: 1.25rem;
}

.info .line {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem 0;
    border-bottom: 0.125rem solid #0b1a26;
}

.info .line:last-child {
    border-bottom: none;
}

.label {
    color: #0b1a26;
    font-size: 1.25rem;
}

.value {
    font-size: 1.25rem;
}

.recent-trips {
    position: absolute;
    left: 74rem;
    height: 50rem;
    width: 40rem;
    background-color: white;
    padding: 0.625rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    color: #0b1a26;
    font-size: 1.25rem;
    flex-grow: 0; 
    overflow: scroll;
    overflow-x: hidden;
}

.recent-trips h2 {
    border-bottom: 0.2rem solid #0b1a26;
    padding-bottom: 0.6rem;
    color: #0b1a26;
    margin-top: 0;
}

.book{
    position: relative;
    height: 15rem;
    border-radius: 1.25rem;
    background-color: #0b1a26;
    margin-top: -1rem;
}

.namebook{
    color: white;
    position: relative;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}
.optionbook{
    color: white;
    position: relative;
    top: -1rem;
    left: 14rem;
    font-size: 1rem;
}
/* Style pour l'image de la planète */
.planet-image {
    position: absolute;
    top: 4rem;
    left: 1rem;
    width: auto;
    height: 10rem;
    margin-right: 10px; 
}




.destinations-info {
    width: 15.625rem;
    padding: 1.25rem;
    background-color: #0b1a26;
    color: white;
    border-radius: 1.25rem;
}

.destinations-info h2 {
    color: white;
    margin-bottom: 0.625rem;
}

.destinations-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.destinations-info li {
    padding: 0.625rem 0;
    border-bottom: 0.125rem solid white;
}

.see-more-btn {
    margin-top: 1.25rem;
    margin-left: 6.25rem;
    display: inline-block;
    background-color: white;
    color: #0b1a26;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 0.3125rem;
    text-align: center;
    transition: 0.7s;
}

.see-more-btn:hover {
    font-size: 0.9375rem;
    transition: 0.7s;
}

#file-input {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
}

.file-label i {
    font-size: 1.5rem;
    color: #333;
}

.custom-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #218838;
}

.edit-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 0.625rem 1.25rem;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 1.0625rem;
    margin: 0.25rem 0.125rem;
    cursor: pointer;
    border-radius: 0.3125rem;
    transition: background-color 0.3s;
}

.edit-btn:hover{
    background-color: #218838;
}


