:root {
  --item-width: 70vh; /* Largeur d'un item */
  --gap: 40px; /* Espacement entre les items */
  --speed: 20s; /* Durée de l'animation */
}

.banner {
  position: relative;
  overflow: hidden; /* Cache les images en dehors */
  width: 100%;
  height: 70vh;
  background-color: black;
}

.banner .slider {
  display: flex;
  gap: var(--gap);
  width: max-content; /* Ajuste la largeur pour contenir toutes les images */
  animation: scrollLeft var(--speed) linear infinite;
}

/* Animation de défilement */
@keyframes scrollLeft {
  from {
      transform: translateX(0%);
  }
  to {
      transform: translateX(calc(-100% / 2)); /* Défilement sur une moitié pour éviter les coupures */
  }
}

.banner .slider .item {
  flex-shrink: 0;
  width: var(--item-width);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
