#profil{
    background-color: #0B1A26;
    color: white;
}
/*/////////////////////////////////////////////////*/
.bolder{
    font-weight: bolder;
}
.smoler{
    font-size: small;
}
#profil .info{
    margin-top: -10px;
    margin-left: 6px;
}

hr{
    color: white;
}

#profil .part{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; 
}
/*/////////////////////////////////////////////////*/

#profil .part1{
    width: 30%;
    border: 2px solid #000;
}
/*/////////////////////////////////////////////////*/
#profil .part2{
    width: 30%;
    border: 2px solid #000;
}