* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to right, #0B1A26, #203a43, #2c5364);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    width: 40%;
    max-width: 1200px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

h1 {
    margin-bottom: 30px;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.plans {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.plan {
    background: rgba(255, 255, 255, 0.15);
    padding: 40px;
    border-radius: 15px;
    width: 40%;
    max-width: 500px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(5px);
}

.plan:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.4);
}


.plan h2 {
    font-size: 26px;
    margin-bottom: 15px;
}

.plan p {
    font-size: 18px;
    margin-bottom: 15px;
}

.price {
    font-weight: bold;
    font-size: 22px;
    color: #FFD700;
}


button {
    background: linear-gradient(to right, #1E3C72, #2A5298);
    color: white;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    font-weight: bold;
}

button:hover {
    background: linear-gradient(to right, #2A5298, #4A90E2);
    box-shadow: 0 6px 15px rgba(255, 255, 255, 0.4);
}


body {
    background-size: 200% 200%;
    animation: bgAnimation 15s ease infinite;
}
